<!DOCTYPE html>
<html ng-app="zovApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>


    <!--import styles-->
    <!--bootstrap-->
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap-theme.css"/>

    <!--app css-->
    <link rel="stylesheet" href="../styles/app.css"/>
    <!--jcarousel-->
    <link rel="stylesheet" href="../libs/jcarousel/jcarousel.css"/>

    <!--import js-->

    <script src="../libs/jquery-2.1.1.js"></script>
    <!--angularja-->
    <script src="../libs/angularjs/angular.js"></script>
    <!--bootstrap-->
    <script src="../libs/bootstrap/js/bootstrap.js"?></script>
    <script src="../js/app.js"></script>
    <script src="../js/controllers/homeController.js"></script>

    <script>



    </script>

    <!--jcarousel-->
    <script src="../libs/jcarousel/jquery.jcarousel.js"></script>
    <script src="../libs/jcarousel/jcarousel.responsive.js"></script>


</head>

<body ng-controller="HomeController">

<nav class="navbar navbar-inverse" role="navigation">
    <button ng-click="showGreetingAlert()" type="button" class="btn btn-default navbar-btn greetingButton">Show greeting</button>
</nav>

    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li ng-repeat="imgItem in carouselImages">
                    <img ng-src="{{imgItem}}"/>
                </li>
            </ul>
        </div>
        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>

        <p class="jcarousel-pagination"></p>

    </div>

</body>
</html>